.front .content #welcome {
    font-size: 20px;
}

.type {
    font-size: 30px;
}

nav {
    position: relative;
    left: -200%;
    transition: all 0.3s ease-in-out;
    top: -55px;
}

.slide {
    left: 0;
}

.header-bg {
    background: white !important;
}

.brand-color {
    color: #000 !important;
}

.toggel-menu-color {
    color: #000 !important;
}

ul {
    padding: 0;
    margin: 0;
    position: relative;
    background: #fff;
    top: 55px;
    right: 0;
    width: 100vw;
    height: 100vh;
}

ul li {
    margin: 0;
    padding: 10px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}

ul li a {
    color: #000;
}

#toggel-menu {
    display: block;
    font-size: 30px;
    position: absolute;
    top: 23px;
    right: 10%;
    float: right;
    cursor: pointer;
}

.brand {
    margin: 0 8%;
    font-size: 37px;
}